@import '../variables';

/* ==========================================================================
map
========================================================================== */

.map-address {
  display: none;
}

@media (min-width: $tablet-width) {
  .google-map {
    height: 395px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    position: relative;
    z-index: 10;
  }

  .map-address {
    width: 450px;
    height: 170px;
    background-color: $background-color-base;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 20;
  }

  .map-address__text--left {
    margin: 0;
    width: 170px;
    font-size: 20px;
    line-height: 25px;
    font-family: $font-family-base;
    font-style: $font-style-base;
    font-weight: $font-weight-base;
    color: $color-2;
    text-align: left;
    text-transform: uppercase;
  }

  .map-address__text--right {
    margin: 0;
    width: 160px;
    font-size: 16px;
    line-height: 20px;
    font-family: $font-family-2;
    font-style: $font-style-base;
    font-weight: $font-weight-base;
    color: $color-base;
    text-align: left;
  }

  .google-map {
    height: 400px;
  }
}