@import 'variables';

/* ==========================================================================
base
========================================================================== */

/**
 * Selective collection of reset-styles from:
 * https://getbootstrap.com/docs/4.0/content/reboot/
 * https://github.com/sindresorhus/modern-normalize v0.5.0
 * https://github.com/csstools/sanitize.css v10.0.0
 * https://habr.com/ru/post/420539/
 */

/**
 * Add border box sizing in all browsers (opinionated).
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
 * Backgrounds do not repeat by default
 */

*,
::before,
::after {
  background-repeat: no-repeat;
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */

::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}

/**
  * 1. Use the default cursor in all browsers (opinionated).
  * 2. Use a 4-space tab width in all browsers (opinionated).
  * 3. Remove the grey highlight on links in iOS (opinionated).
  * 4. Prevent adjustments of font size after orientation changes in
  *     IE on Windows Phone and in iOS.
  * 5. Breaks words to prevent overflow in all browsers (opinionated).
 */

html {
  height: 100%;
  //cursor: default; /* 1 */
  -moz-tab-size: 4; /* 2 */
  tab-size: 4; /* 2 */
  //-webkit-tap-highlight-color: rgba(0, 0, 0, 0) /* 3 */;
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; /* 4 */
  -webkit-text-size-adjust: 100%; /* 4 */
  word-break: break-word; /* 5 */
}

body {
  min-height: 100%;
  min-width: 320px;
  margin: 0;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-family-base;
  font-style: $font-style-base;
  font-weight: $font-weight-base;
  color: $color-base;
  background-color: $background-color-base;
  text-align: left;
}

//---------------------------------------------------------------------------------------------------------------------

/**
 * Hidden (hide and remove an element from the document layout)
 */

.hidden {
  display: none !important;
}

/**
 * Invisible (hidden elements take up space on the page)
 */

.invisible {
  visibility: hidden !important;
}

/**
 * Screen reader only
 */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

:disabled,
.disabled {
  cursor: not-allowed;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #868e96;
  text-align: left;
  caption-side: bottom;
}

figure {
  margin: 0 0 1rem;
}

th {
  text-align: inherit;
}

/*
 * Change the alignment on media elements in all browsers (opinionated).
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-style: none;
}

video {
  max-width: 100%;
  height: auto !important;
}

input,
textarea {
  border: none;
  background: none;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
}

[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

output {
  display: inline-block;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */

dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */

ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */

nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

dfn {
  font-style: italic;
}

/**
 * 1. Add the correct sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */

hr {
  box-sizing: content-box;
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Remove the border on iframes in all browsers (opinionated).
 */

iframe {
  border-style: none;
}

/**
 * Collapse border spacing in all browsers (opinionated).
 */

table {
  border-collapse: collapse;
}

/**
 * Remove the margin on controls in Safari.
 */

select {
  margin: 0;
}

/**
 * 1. Change the resize direction in all browsers (opinionated).
 */

textarea {
  resize: vertical; /* 1 */
}

/**
 * Remove the additional :invalid styles in Firefox.
 */

:-moz-ui-invalid {
  box-shadow: none;
}

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/**
 * 1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

/* User interaction
 * ========================================================================== */

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/*
 * 1. Remove the tapping delay in IE 10.
 * 2. Remove the tapping delay on clickable elements
      in all browsers (opinionated).
 */

a,
area,
button,
[role="button"],
input,
input:not([type="range"]),
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation; /* 1 */
  touch-action: manipulation; /* 2 */
}

button {
  border-radius: 0;
}

//button:focus {
//  outline: 1px dotted;
//  outline: 5px auto -webkit-focus-ring-color;
//}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

/* Accessibility
 * ========================================================================== */

/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */

[aria-busy="true"] {
  cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */

[aria-controls] {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */

[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */

[aria-hidden="false"][hidden] {
  display: initial;
}

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
